<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Dodaj miasto</h3>
<form method="post" th:action="@{/panel/add/city}" th:object="${addCity}">

    <div class="form-group"><label><strong>Kraj</strong></label>

        <select th:field="*{countryId}">
                <option th:each="country: ${countries}" th:text="${country.name}"
                        th:value="${country.id}"></option>
        </select>
    </div>
    <label><strong>Nazwa</strong></label>
    <input type="text" name="name">
    <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">Dodaj</button>
    </div>
</form>

</body>
</html>