<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Dodaj Kraj</h3>
<form method="post" th:action="@{/panel/add/country}" th:object="${addCountry}">
    <div class="form-group"><label><strong>Kontynent</strong></label>

        <select th:field="*{continentId}">
                <option th:each="continent: ${continents}" th:text="${continent.name}"
                        th:value="${continent.id}"></option>
        </select>
    </div>
    <label><strong>Nazwa</strong></label>
    <input type="text" name="name">
    <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">Dodaj</button>
    </div>
</form>
</body>
</html>