<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Nowy Kraj</h1>
<form th:action="@{/panel/add/country}" th:object="${country}" method="post">

    <div class="row">
        <div class="form-group col-md-8">
            <label class="col-form-label">Nazwa Kraju : </label> <input type="text" th:field="*{name}" class="form-control">
        </div>
        <div class="form-group col-md-8">
            <label for="continents">Nazwa Kontynentu:</label>
            <select class="form-control" id="continents" th:field="*{continentId}">
                <option th:each="continent : ${continents}" th:value="${continent.id}" th:text="${continent.name}"></option>
            </select>
        </div>

        <div class="col-md-6">
            <input type="submit" class="btn btn-primary" value="Dodaj Kraj">
        </div>
        <div class="form-group col-md-8"></div>
    </div>
</form>