<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Add new Trip:</h1>
<form method="post" th:action="@{/panel/add}" th:object="${addTrip}">
    <table>
        <tr>
            <td>Select City from:</td>
            <td>
                <select th:field="*{cityFrom}">
                    <option value="">Nothing selected</option>
                    <option th:each="dropCitiesForm: ${citiesList}"
                            th:value="${dropCitiesForm.id}"
                            th:text="${dropCitiesForm.name}">Cities</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Select Airport from:</td>
            <td>
                <select th:field="*{airportFrom}">
                    <option value="">Nothing selected</option>
                    <option th:each="dropAirportsFrom: ${airportsList}"
                            th:value="${dropAirportsFrom.id}"
                            th:text="${dropAirportsFrom.name}">Airport</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Select City where:</td>
            <td>
                <select th:field="*{cityWhere}">
                    <option value="">Nothing selected</option>
                    <option th:each="dropCitiesForm: ${citiesList}"
                            th:value="${dropCitiesForm.id}"
                            th:text="${dropCitiesForm.name}">Cities</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Select Hotel where:</td>
            <td>
                <select th:field="*{hotelWhere}">
                    <option value="">Nothing selected</option>
                    <option th:each="hotel: ${hotelsList}"
                            th:value="${hotel.id}"
                            th:text="${hotel.description}">Hotel</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Select Airport where:</td>
            <td>
                <select th:field="*{airportWhere}">
                    <option value="">Nothing selected</option>
                    <option th:each="dropAirportsFrom: ${airportsList}"
                            th:value="${dropAirportsFrom.id}"
                            th:text="${dropAirportsFrom.name}">Airport</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Start Date:</td>
            <td><input type='date' th:field="*{departureDate}" /></td>
        </tr>
        <tr>
            <td>End date:</td>
            <td><input type='date' th:field="*{arrivalDate}" /></td>
        </tr>
        <tr>
            <td>Days:</td>
            <td><input type='text' th:field="*{days}" /></td>
        </tr>
        <tr>
            <td>Accomodation:</td>
            <td>
                <select th:field="*{accomodation}" th:id="accomodation">
                    <option value="">Nothing selected</option>
                    <option th:each="accomodation: ${T(com.example.sda.travelagencyservice.model.Accomodation).values()}" th:value="${accomodation}" th:text="${accomodation}">Accomodation</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Price for adult:</td>
            <td><input th:type="text" th:field="*{adultPrice}" /></td>
        </tr>
        <tr>
            <td>Price for child:</td>
            <td><input th:type="text" th:field="*{childPrice}" /></td>
        </tr>
        <tr>
            <td>Promotion:</td>
            <td><input type='checkbox' th:field="*{promoted}" /></td>
        </tr>
        <tr>
            <td>Available place for adult:</td>
            <td><input th:type="text" th:field="*{adultPlaceAvailable}" /></td>
        </tr>
        <tr>
            <td>Available place for child:</td>
            <td><input th:type="text" th:field="*{childPlaceAvailable}" /></td>
        </tr>
    </table>
    <input type="submit" value="post">
</form>

</body>
</html>