<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Travel</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="height:64px;">
    <div class="container"><a class="navbar-brand logo" href="#"></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only"></span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="/">Home</a></li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Zaloguj</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Wyloguj</a>
                </li>

                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/sign-up}">Rejestracja</a>

                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                    <a class="nav-link" th:href="@{/panel}">Panel Administratora</a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                    <a class="nav-link" th:href="@{/users}">Lista użytkowników</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main class="page contact-us-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Edytuj Wycieczkę</h2>
            </div>
            <form method="post" th:action="@{/panel/edit/{id}(id=${trip.id})}" th:object="${trip}">

                <div class="form-group" type="hidden" th:field="*{id}"></div>
                <div class="form-group"><label><strong>Miasto - Wylot</strong></label>

                    <select class="form-control" th:field="*{departureCity}">
                        <option th:each="city: ${cities}" th:text="${city.name}" th:value="${city.name}"></option>
                    </select>
                </div>

                <div class="form-group"><label><strong>Lotnisko - Wylot</strong></label>
                    <select class="form-control" th:field="*{departureAirport}">
                        <option th:each="airport: ${airports}" th:text="${airport.name}"
                                th:value="${airport.name}" selected=""></option>
                    </select>
                </div>

                <div class="form-group"><label><strong>Miasto - Przylot</strong></label>

                    <select class="form-control" th:field="*{arrivalCity}">
                        <option th:each="city: ${cities}" th:text="${city.name}" th:value="${city.name}"
                                selected=""></option>
                    </select>

                    <div class="form-group"><label><strong>Lotnisko - Przylot</strong></label>
                        <select class="form-control" th:field="*{arrivalAirport}">
                            <option th:each="airport: ${airports}" th:text="${airport.name}"
                                    th:value="${airport.name}" selected=""></option>
                        </select>
                    </div>
                </div>

                <div class="form-group"><label><strong>Hotel</strong></label>

                    <select class="form-control" th:field="*{hotel}">
                        <option th:each="hotel: ${hotels}" th:text="${hotel.name}" th:value="${hotel.name}"
                                selected=""></option>
                    </select>
                </div>
                <label><strong>Data Wylotu</strong></label>
                <input class="form-control" type="date" th:field="*{startDate}"><label>
                <strong>Data Przylotu</strong></label>
                <input class="form-control" type="date" th:field="*{endDate}">
                <label><strong>Liczba dni</strong></label>
                <input class="form-control" type="text" th:field="*{days}"><label>

                <label><strong>Wyżywienie</strong><br></label>
                <select class="form-control" th:field="*{accomodation}" th:id="accomodation">
                    <optgroup label="This is a group">
                        <option th:each="accomodation: ${T(com.example.sda.travelagencyservice.model.Accomodation).values()}"
                                th:value="${accomodation}" th:text="${accomodation}">Accomodation
                        </option>
                    </optgroup>
                </select>
                <label><strong>Cena za osobę dorosłą</strong><br></label>
                <input class="form-control" type="number" th:field="*{adultPrice}">
                <label><strong>Cena za dziecko</strong><br></label>
                <input class="form-control" type="number" th:field="*{childPrice}">
                <div class="form-check"><input class="form-check-input" type="checkbox" th:field="*{promoted}"
                                               id="isPromoted">
                    <label class="form-check-label" for="isPromoted">Wycieczka promowana</label>
                </div>
                <label><strong>Ilość miejsc dla dorosłych</strong><br></label>
                <input class="form-control" type="number" th:field="*{adultPlaceAvailable}">
                <label><strong>Ilość miejsc dla dzieci</strong><br></label>
                <input class="form-control" type="number" th:field="*{childPlaceAvailable}">
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Edytuj Wycieczkę</button>
                </div>
            </label>
            </form>
        </div>
    </section>
</main>
<a href="/" th:href="@{/}">Powrót do strony głównej</a>
<footer class="page-footer dark">
    <div class="footer" align="center" style="color: white">
        <p>© 2020 Copyright</p>
    </div>
</footer>
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/script.min.js}"></script>
</body>
</html>